
h1 {
  background-color: aqua;
  margin-left: 20px;
  margin-right: 20px;
}
p{
  color: blue;
  font-weight: bold;
  margin-left: 20px;
}

button{
  color:darkgreen;
  background-color: blanchedalmond;
  border: none;
  padding: 20px;
  margin-left: 20px;
}
span{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  margin-left: 20px;
}
